:root {
    --navy: #31496a;
    --bg: #c8e1ee;
    --shadow: 0 2px 2px rgb(0. 0. 0 / 0.5)
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 2000px;
}

/*    width: 100%;
    height: 100%;
    bacground image
    filter
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}*/

.hero {
    position: relative;
    min-height: 100vh;
    background-color: var(--bg);
}

.hero h2 {
    color: var(--navy);
}
.hero h1 {
    font-family: "Sacramento", cursive;
    font-size: 6rem;
    color: var(--navy);
}

.hero h3 {
    color: var(--navy);
}

.hero p {
    font-size: 1.4rem;
    color: var(--navy);
}

.hero a {
    color: var(--bg);
    background-color: var(--navy);
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--bg);
    color: var(--navy);
    border-color: var(--navy);
}



/* media quare */
/* lapto */

@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    .simply-countdown>.simply-section {
        padding: 70px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }
    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 5px;
    }    
}

/* Mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }    
    .simply-countdown>.simply-section {
        padding: 45px;
        margin: 3px;
    }
}
